.trendy_text{
  font-family: Sephir; 
  font-size: 50px; 
  color:#b99e8d
}
.home_main_text{
  font-family: Sephir; 
  font-size: 60px;
}
.home_main_text_sub{
  font-family: Sephir; 
  font-size: 30px;
}
.one_quarter img {
  /* width: auto; */
  min-width: 150px;
  max-width: 100%;
  /* max-height: 150px; */
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
}
.one_third img {
  /* width: auto; */
  /* min-width: 350px; */
  max-width: 145px;
  /* max-height: 190px; */
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  /* vertical-align: bottom; */
}
.menu {
  font-family: bebas;
  font-size: 23px;
}

.top-nav {
  height: 70px;
}
.pageintrobg{
  background-image:url(../../images/copas-grass-home-bg.webp); 
  background-size:cover;
}
