.one_quarter img {
  /* width: auto; */
  min-width: 350px;
  max-width: 100%;
  /* max-height: 190px; */
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
}
.one_third img {
  /* width: auto; */
  /* min-width: 350px; */
  /* max-width: 100%; */
  max-height: 190px;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  /* vertical-align: bottom; */
}
.menu {
  font-family: bebas;
  font-size: 17px;
}
.top-nav {
  height: 50px;
}
.pageintrobg{
  background-image:url(../../images/bg-mob-backing-arco-take-shot.webp); background-size:contain;
}
