.scroll-container {
  background-color: #fff;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 225px;
  max-height: 290px;
  scrollbar-width: thin;
}

.scroll-container img {
  padding: 10px;
}

.scroll-custom-dots {
  text-align: center;
}
