div.scroll-container {
  background-color: #fff;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 225px;
  max-height: 290px;
  scrollbar-width: thin;
  /* padding: 10px;
  

  max-width: 210px; */
}

div.scroll-container img {
  padding: 10px;
}
